<template>
    <div class="container-fluid">
        <div class="row justify-content-center mt-3">
            <!-- Small boxes (Stat box) -->
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{rda.rda_protein}}</h3>
                            <p>Latest Rda</p>                            
                        </div>
                        <div class="icon">
                            <i class="fas fa-utensil-spoon"></i>
                        </div>
                        <router-link :to="{name: 'GetUserRda'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{recipe}}</h3>
                            <p>Recipes</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-utensils"></i>
                        </div>
                        <router-link :to="{name: 'AllRecipe'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{mealplan}}</h3>
                        <p>Meal Plans</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-pen"></i>
                    </div>
                    <router-link :to="{name: 'GetMealPlan'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <!-- ./col -->   
        </div>
            <div class="row" v-if="$gate.isAdmin()">
            <!--Only Admin can see this-->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                    <div class="inner">
                        <h3>{{user}}</h3>
                        <p>Users</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <router-link :to="{name: 'Users'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{fooditem}}</h3>

                        <p>Food Items</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-cookie-bite"></i>
                    </div>
                    <router-link :to="{name: 'GetFoodItem'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{mealplanitem}}</h3>

                    <p>Meal Plan Items</p>
                </div>
                <div class="icon">
                    <i class="fas fa-sticky-note"></i>
                </div>
                <router-link :to="{name: 'GetMealPlanItem'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                </div>
            </div>
            <!-- ./col -->   

            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-lite">
                    <div class="inner">
                        <h3>{{question}}</h3>
                        <p>Questions</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-question"></i>
                    </div>
                    <router-link :to="{name: 'Question'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>{{unansweredquestion}}</h3>

                        <p>Unanswered Questions</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-question-circle"></i>
                    </div>
                    <router-link :to="{name: 'Question'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{foodItemCategories}}</h3>

                    <p>Food Item Categories</p>
                </div>
                <div class="icon">
                    <i class="fas fa-folder"></i>
                </div>
                <router-link :to="{name: 'GetFoodItem'}" class="small-box-footer">More Info <i class="fas fa-arrow-circle-right"></i></router-link>
                </div>
            </div>
            <!-- ./col -->            
            </div>

    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                rda:'',
                recipe:'',
                mealplan:'',
                user:'',
                fooditem:'',
                mealplanitem:'',
                question:'',
                unansweredquestion:'',
                foodItemCategories:''

            }
        },
        beforeMount() {
            console.log('Component mounted.')
            var uri = `http://localhost:8000/api/dashboard/index`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.rda = response.data.rda, this.recipe = response.data.recipe, this.mealplan = response.data.mealplan})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete'));
            
            var uri1 = `http://localhost:8000/api/dashboard/adminindex`;

            //Only Allow Admin to access
            if(this.$gate.isAdmin()){
                axios.get(uri1)
                //.then(response=>console.log(response.data))
                .then(response => {this.user = response.data.users, this.fooditem = response.data.fooditem, this.mealplanitem = response.data.mealplanitem, this.question = response.data.question, this.unansweredquestion = response.data.unansweredquestion, this.foodItemCategories = response.data.foodItemCategories})
                .catch(error=>console.log(error))
                .finally(()=> console.log('Data loading complete'));
            }
                
        },
                
    }
</script>
