<template>
    <div class="container">
        <div class="row justify-content-center">
            <!--<not-found></not-found>-->
            <div><h2>Hello There</h2></div>
            <h4>You are a super admin</h4>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
