.text-center{
    text-align: center;
}

.no-bg{
    background:#f8fafc !important;
    border:none !important;
}

.card1{
    border:none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.card1 .card-body{
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    
}

.btnc1{
    width: 140px;
    border-radius:25px;
}

.input-group-text{
    background-color: transparent !important;
}

.card-cs{
    border-radius:0px !important;
    margin-top:10px !important;
    margin-bottom:10px !important;
}
.card-cs .card-header{
    background:inherit;
    border-bottom:1px solid #eef1f5;
}
.card-cs .card-title{
    font-size:16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-circle{
    border-radius: 20px;
    text-align: center;    
    padding: 10px 15px;
}

.small-box{
    border-radius:0px;
}