<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">                
                <div class="card card-cs">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-title">Answer</h3>
                        </div>
                        <div class="float-right">
                            <router-link :to="{name: 'Question'}" class="btn btn-xs btn-secondary"><i class="fas fa-arrow-left"></i> Questions</router-link>
                        </div>
                    </div>                    
                    <div class="card-body">
                        <div class="mt-2 mb-4 col-10 mx-auto">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Asked By - {{question.user.name}}</li>
                                    <li class="list-group-item">Email - {{question.user.email}}</li>                              
                                </ul>
                            </div>
                        </div>
                        
                        <div class="mt-2 mb-2">
                            <form @submit.prevent="saveForm()">
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>Question</label>
                                        <input type="text" readonly v-model="question.question_query" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>Answer</label>
                                        <textarea v-model="question.question_answer" class="form-control" placeholder="Not Answered Yet" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <div id="isVisible"> 
                                            <label>Visible?</label><br/>
                                            <input type="radio" id="yes" value="1" v-model="visible">Yes
                                            <br>
                                            <input type="radio" id="no" value="2" v-model="visible">No                            
                                        </div>         
                                    </div>
                                </div>
                                
                                <div v-if="$gate.isAdminOrNutritionist()" class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-success"><i class="fas fa-arrow-right"></i> Save Changes</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            question:{},
            visible:{},
        }   
    },
    mounted(){        
            let uri = `http://localhost:8000/api/question/answer/${this.$route.params.id}`;
            axios.get(uri)
            .then(response => {this.question = response.data, this.visible = response.data.question_isVisible})
            //.then(response=>console.log(response.data))
             .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
            
            
    },
    methods: {
            saveForm(){
                var app = this;
                
                let uri = `http://localhost:8000/api/question/answerquestion/${this.$route.params.id}`;

                var isVisible;

                if(document.getElementById('yes').checked){
                    isVisible = 1;
                }
                else if(document.getElementById('no').checked){
                    isVisible = 0;
                }                
                console.log(isVisible);

                this.question.isVisible = isVisible
                
                console.log(this.question);

                axios.post(uri,this.question)
                .then(function (resp) {
                    app.$router.push({path: '/question'});
                    toast({
                        type:'success',
                        title:'Post Successful!',                
                    });
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not update question");
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }
}
</script>