<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">                
                <div class="card">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-title">Ask Question</h3>
                        </div>
                        <div class="float-right">
                            <router-link :to="{name: 'Dashboard'}" > Dashboard</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <form @submit.prevent="saveForm()">
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>Your Question</label>
                                        <textarea v-model="question.question_query" class="form-control" placeholder="" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            question:{}
        }   
    },
    mounted(){
        console.log('Component mounted.');
    },
    methods: {
            saveForm(){
                var app = this;

                let uri = `http://localhost:8000/api/question/askquestion`;

                console.log(this.question);

                axios.post(uri,this.question)
                .then(function (resp) {
                    app.$router.push({path: '/question'});
                    toast({
                        type:'success',
                        title:'Post Successful!',                
                    });
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not update question");
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }
}
</script>