<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">                
                <div class="card card-cs">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-title">Questions</h3>
                        </div>
                        <div class="float-right">
                            <router-link :to="{name: 'Dashboard'}" class="btn btn-xs btn-primary"><i class="fas fa-arrow-left"></i> Back</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <p class="mb-0" v-if="questions.length === 0">
                                No Questions Found.
                            </p>              
                            <table class="table" v-if="questions.length > 0">                            
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Question</td>
                                        <td>Asked By</td>
                                        <td>Answer</td>
                                        
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr v-for="question, index in questions">
                                        <td>{{ question.question_id }}</td>
                                        <td>{{ question.question_query }}</td>                                        
                                        <td>{{ question.user.name }}</td>
                                        
                                        <td><router-link :to="{name:'Answer', params: {id:question.question_id}}">Answer</router-link></td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            questions:[]
        }   
    },
    mounted(){
        console.log('Component mounted.'),
            axios.get('./api/question/getquestion')
            .then(response => {this.questions = response.data})
            //.then(response=>console.log(response.data))
             .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
            
            
    },
    methods: {
            /*deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('./api/recipe/destroy/' + id)
                    .then(function (resp) {
                        app.recipes.splice(index, 1);                            
                    })
                    .catch(function (resp) {
                        alert("Could not delete recipe " + id);
                    });
                }
            }*/
        }
}
</script>