<template>
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card card-cs">
                        <div class="card-header">
                            <div class="float-left">
                                <h3 class="card-title">Add CPC</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'GetCpcList'}" class="btn btn-xs btn-default btn-secondary "><i class="fas fa-arrow-left"></i> Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="saveForm()">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                                <label>Food Item</label>
                                                <select v-model="fooditem" id="fooditem" required style="width:100%;height:35px;">
                                                    <option disabled value="Select One">Select One</option>
                                                    <option v-for="fooditem in fooditems" :data-protein="fooditem.item_protein" v-bind:value="fooditem.item_id">
                                                        {{ fooditem.item_name }} 
                                                    </option>
                                                </select>                                        

                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                                <label>Item Quantity (gms)</label>
                                                <input type="number" required v-model="cpc.cpc_item_quantity" class="form-control" id ="quantity" placeholder="Item Quantity">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Frequency</label>
                                            <select v-model="frequency" id="frequency" required style="width:100%;height:35px;">
                                                <option disabled value="">Please select one</option>
                                                <option value="daily">Daily</option>
                                                <option value="weekly">Weekly</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-success mt-4"><i class="fas fa-arrow-right"></i> Add CPC</button>
                                    </div>
                                </div>
                                      
                            </form>
                            
                            <table class="table table-striped" v-if="todaycpc.length > 0">            
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Food Item</td>
                                        <td>Quantity</td>
                                        <td>Protein</td>                                        
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr v-for="todaycpc, index in todaycpc">
                                        <td>{{ todaycpc.cpc_id }}</td>
                                        <td>{{ todaycpc.fooditem[0].item_name }}</td>
                                        <td>{{ todaycpc.cpc_item_quantity }}</td>
                                        <td>{{ todaycpc.cpc_item_protein }}</td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
  
            </div>
        </div>
</template>
<script>
export default {
    data(){
            return{
                fooditems:[],                
                fooditem:'',
                cpc: {
                    cpc_item_quantity: '',
                    //recipe_id: '',
                    //mealplan_id: '',
                    cpc_item_protein:'',                    
                },
                frequency:'',
                profile:[],
                todaycpc:[],
            }
        },
    created() {
            let uri = `http://localhost:8000/api/cpc/getcpcindex/`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.fooditems = response.data.fooditem,this.profile = response.data.profile})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
            
            let uri2 = `http://localhost:8000/api/cpc/getTodayCpc`;
            axios.get(uri2)
            //.then(response=>console.log(response.data))
            .then(response => {this.todaycpc = response.data})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
    methods:{
        saveForm(){
            var app = this;
            var cpc = this.cpc;
            console.log(cpc);
                
            var fooditem = document.getElementById('fooditem');
            var fooditemValue = fooditem.options[fooditem.selectedIndex].value
                
            var frequency = document.getElementById('frequency'); 
            var frequencyValue = frequency.options[frequency.selectedIndex].value

            
            var protein = (fooditem.querySelector(':checked').getAttribute('data-protein'));
            var quantity = cpc.cpc_item_quantity;
            console.log(cpc.cpc_item_quantity);
            if(frequencyValue == "weekly"){
                protein = protein / 7;
                quantity = quantity / 7;
                protein = (quantity * protein / 100);
                //protein = protein / 100;
                quantity = quantity.toFixed(2);
                protein = protein.toFixed(2);
            }
            else{
                protein = (cpc.cpc_item_quantity * protein) / 100;
                protein = protein.toFixed(2);
            }

            this.cpc.cpc_item_quantity = quantity;
            this.cpc.cpc_item_protein = protein;            
            this.cpc.item_id = fooditemValue,            
            this.cpc.date = moment().format('DD-MM-YYYY');            

            axios.post('./api/cpc/addCpc', cpc)
            .then(function (resp) {
                
                document.getElementById('fooditem').value = '';
                document.getElementById('frequency').value='';
                document.getElementById('quantity').value = '';
                toast({
                    type:'success',
                    title:'Cpc Added!',                
                });
                
                app.$router.push({path: '/addcpc'});
                app.$forceUpdate();
                
            })
            .catch(function (resp) {
                console.log(resp);
                alert("Could not add cpc");
            })
            .finally(function (resp){
                console.log("Axios Post Complete");
            });         
        }

    }
}
</script>