<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card card-cs">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-title card-cs">Your CPC</h3>
                        </div>
                        <div class="float-right">
                            <router-link :to="{name: 'AddCpc'}" class="btn btn-xs btn-primary ">Add Cpc</router-link>
                        </div>
                    </div>                    
                    <div class="card-body">
                        <div class="mt-2 mb-2">                       
                          <!--{{cpcs}}-->
                            <div class="row">
                                <div class="col-6">
                                    Average CPC - {{avgcpc}}
                                </div>
                                <div class="col-3" style="text-align:right">
                                    Date <p v-for="cpcdate, index in cpcdate">{{cpcdate}}</p>
                                </div>
                                <div class="col-3 pull-left">
                                    Total CPC <p v-for="totalsum, index in totalsum">{{totalsum}}</p>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <table class="table table-striped" v-if="cpcs.length > 0">
                                <thead>
                                    <tr>
                                        <td>Food Item</td>
                                        <td>Quantity</td>
                                        <td>Protein</td>
                                        <td>Date</td>                                        
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr v-for="cpc, index in cpcs">
                                        <td>{{ cpc.fooditem[0].item_name }}</td>
                                        <td>{{ cpc.cpc_item_quantity }}</td>
                                        <td>{{ cpc.cpc_item_protein }}</td>
                                        <td>{{ cpc.date }}</td>                                        
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>    
    export default {
        data(){
            return{
                cpcs:[],
                avgcpc:'',
                totalsum:'',
                cpcdate:''
            }
        },
        mounted() {                        
            console.log('Component mounted.'),
            axios.get('./api/cpc/getCpcList')
            //.then(response=>console.log(response.data))
            .then(response => {this.cpcs = response.data.cpc, this.avgcpc = response.data.averageCpc, this.totalsum = response.data.totalsum,this.cpcdate = response.data.cpcDate})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('./api/foodItem/destroy/' + id)
                    .then(function (resp) {
                        app.fooditems.splice(index, 1);
                        toast({
                            type:'success',
                            title:'Cpc Deleted!',                
                        });                          
                    })
                    .catch(function (resp) {
                        alert("Could not delete food item " + id);
                    });
                }
            }
        }
    }    
</script>