<template>
    <div>        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!--Display Not found if user is not authorized-->
                    <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                        <not-found></not-found>
                    </div>
                    <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                        <div class="card-header">
                            <div class="float-left">
                                <h3 class="card-title">Add Recipe</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'AllRecipe'}" class="btn btn-xs btn-primary "><i class="fas fa-arrow-left"></i> Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">                                            
                                            <input type="text" v-model="recipe.recipe_name" class="form-control" placeholder="Recipe Name">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">                                            
                                            <input type="text" v-model="recipe.recipe_url" class="form-control" placeholder="Recipe URL">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">                                            
                                            <input type="text" v-model="recipe.recipe_energy" class="form-control" placeholder="Recipe Energy">                                            
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">                                
                                            <input type="text" v-model="recipe.recipe_fat" class="form-control" placeholder="Recipe Fat">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">                                
                                            <input type="text" v-model="recipe.recipe_protein" class="form-control" placeholder="Recipe Protein">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">                                
                                            <input type="text" v-model="recipe.recipe_carbohydrate" class="form-control" placeholder="Recipe Carbohydrate">
                                        </div>
                                    </div>
                                </div>                            
                                <hr>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="form-group">                                
                                            <input type="text" v-model="recipe.recipe_idealtime" class="form-control" placeholder="Recipe Ideal Time">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <div class="text-center"> 
                                                <button class="btn btn-success " @click.prevent="saveForm()"><i class="fas fa-arrow-right"></i> Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                recipe: {
                    recipe_name: '',
                    recipe_url: '',
                    recipe_energy: '',
                    recipe_fat: '',
                    recipe_protein: '',
                    recipe_carbohydrate: '',
                    recipe_idealtime: '',
                }
            }
        },
        methods: {
            saveForm() {
                //event.preventDefault();
                var app = this;
                var recipe = app.recipe;
                
                axios.post('./api/recipe/addRecipe', recipe)
                .then(function (resp) {
                    app.$router.push({path: '/allRecipe'});
                    toast({
                        type:'success',
                        title:'Post Successful!',                
                    });
                })
                .catch(function (resp) {
                    console.log(resp);
                    toast({
                        type:'error',
                        title:'Something Went Wrong!',                
                    });
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }
    }
</script>
