<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--Display Not found if user is not authorized-->
                    <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                        <not-found></not-found>
                    </div>
                    <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-title">Recipe List</h3>
                        </div>
                        <div class="float-right">
                            <router-link :to="{name: 'AddRecipe'}" class="btn btn-xs btn-primary "><i class="fas fa-plus"></i> Add Recipe</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <p class="mb-0" v-if="recipes.length === 0">
                                No Recipes Found. Add Some
                            </p>              
                            <table class="table table-responsive" v-if="recipes.length > 0">                            
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Name</td>
                                        <td>Url</td>
                                        <td>Energy</td>
                                        <td>Fat</td>
                                        <td>Protein</td>
                                        <td>Carbohydrate</td>
                                        <td>Ideal Time</td>
                                        <td width="15%">Actions</td>
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr v-for="recipe, index in recipes">
                                        <td>{{ recipe.recipe_id }}</td>
                                        <td>{{ recipe.recipe_name }}</td>
                                        <td>{{ recipe.recipe_url }}</td>
                                        <td>{{ recipe.recipe_energy }}</td>
                                        <td>{{ recipe.recipe_fat }}</td>
                                        <td>{{ recipe.recipe_protein }}</td>
                                        <td>{{ recipe.recipe_carbohydrate }}</td>
                                        <td>{{ recipe.recipe_idealtime }}</td>
                                        <td width="15%">
                                            <router-link :to="{name: 'EditRecipe', params: {id: recipe.recipe_id}}" class="btn btn-xs btn-success">
                                                <i class="fas fa-edit"></i>
                                            </router-link>
                                            
                                            <a href="#" class="btn btn-xs btn-danger" v-on:click="deleteEntry(recipe.recipe_id, index)"><i class="fas fa-trash-alt"></i></a>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            recipes:[]
        }   
    },
    mounted(){
        console.log('Component mounted.'),
            axios.get('./api/recipe/allRecipe')
            .then(response => {this.recipes = response.data})
            //.then(response=>console.log(response.data))
             .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
            
            
    },
    methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('./api/recipe/destroy/' + id)
                    .then(function (resp) {
                        app.recipes.splice(index, 1);                            
                    })
                    .catch(function (resp) {
                        alert("Could not delete recipe " + id);
                    });
                }
            }
        }
}
</script>