<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Back</router-link>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!--Display Not found if user is not authorized-->
                    <div class="card" v-if="!$gate.isAdminOrNutritionist()">
                        <not-found></not-found>
                    </div>
                    <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                        <div class="card-header">
                            <div class="float-left">
                                <h3 class="card-title">Edit Recipe</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'AllRecipe'}" class="btn btn-xs btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="saveForm()">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Recipe Name</label>
                                            <input type="text" v-model="recipe.recipe_name" class="form-control" placeholder="Recipe Name">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Recipe URL</label>
                                            <input type="text" v-model="recipe.recipe_url" class="form-control" placeholder="Recipe URL">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Recipe Energy</label>
                                            <input type="text" v-model="recipe.recipe_energy" class="form-control" placeholder="Recipe Energy">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Recipe Fat</label> 
                                            <input type="text" v-model="recipe.recipe_fat" class="form-control" placeholder="Recipe Fat">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Recipe Protein</label>
                                            <input type="text" v-model="recipe.recipe_protein" class="form-control" placeholder="Recipe Protein">                                            
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label>Recipe Carbohydrates</label>
                                            <input type="text" v-model="recipe.recipe_carbohydrate" class="form-control" placeholder="Recipe Carbohydrate">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="form-group">                                    
                                            <label>Recipe Ideal Time</label>
                                            <input type="text" v-model="recipe.recipe_idealtime" class="form-control" placeholder="Recipe Ideal Time">
                                        </div>                                    
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <div class="text-center"> 
                                                <button class="btn btn-success btn-lg mt-4" @click.prevent="saveForm()"><i class="fas fa-arrow-right"></i> Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</template>
<script>
    export default {        
        data: function () {
            return {
                recipe: {                    
                }
            }
        },
        created() {
            
            let uri = `http://localhost:8000/api/recipe/getRecipe/${this.$route.params.id}`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.recipe = response.data})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        methods:{
            saveForm(){
                var app = this;
                let uri = `http://localhost:8000/api/recipe/update/${this.$route.params.id}`;
                axios.put(uri,this.recipe)
                .then(function (resp) {
                    app.$router.push({path: '/allRecipe'});
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not update recipe");
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }     
    }
</script>
