<template>    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <!--Display Not found if user is not authorized-->
                <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                    <not-found></not-found>
                </div>
                <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                    <div class="card-header">
                        <div class="float-left">
                                <h3 class="card-title">Add Meal Plan</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'GetMealPlan'}" class="btn btn-xs btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</router-link>
                            </div>
                    </div>
                    <div class="card-body">                        
                        <div class="content">                            
                            <form>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" v-model="mealplan.mealplan_name" class="form-control" placeholder="Meal Plan Name">                                            
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" v-model="mealplan.mealplan_energy" class="form-control" placeholder="Meal Energy">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="form-group">
                                            <input type="text" v-model="mealplan.mealplan_description" class="form-control" placeholder="Meal Plan Description">
                                        </div>    
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <div class="text-center"> 
                                                <button class="btn btn-success" @click.prevent="saveForm()"><i class="fas fa-arrow-right"></i> Add Meal Plan</button>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>        
    export default {
        methods:{
            saveForm(){
                var app = this;
                var mealplan = this.mealplan;
                axios.post('http://localhost:8000/api/mealplan/addMeal', mealplan)
                .then(function (resp) {
                    app.$router.push({path: '/getMealPlan'});
                    toast({
                        type:'success',
                        title:'Meal Plan Added!',                
                    });
                })
                .catch(function (resp) {
                    console.log(resp);
                    toast({
                        type:'error',
                        title:'Something Went Wrong!',                
                    });
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        },
        data: function () {
            return {
                mealplan: {
                    mealplan_name: '',
                    mealplan_description: '',
                    mealplan_energy: '',                    
                }
            }
        }
    }
</script>
