<template>
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!--Display Not found if user is not authorized-->
                    <div class="card" v-if="!$gate.isAdminOrNutritionist()">
                        <not-found></not-found>
                    </div>
                    <div class="card" v-if="$gate.isAdminOrNutritionist()">
                        <div class="card-header">
                            <div class="float-left">
                                <h3>Add Plan Item</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'GetMealPlanItem'}" class="btn btn-xs btn-default">Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="saveForm()">
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>Item Name</label>
                                        <input type="text" v-model="mealplanitem.mealplanitem_name" class="form-control" placeholder="Item Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>Recipe Name</label>
                                        <select v-model="selected" id="recipe" required style="width:100%;height:35px;">
                                            <option value="Select One">Select One</option>
                                            <option v-for="recipe in recipes" v-bind:value="recipe.recipe_id">
                                                {{ recipe.recipe_name }}
                                            </option>
                                        </select>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Meal Plan</label>
                                        <select v-model="selected1" id="mealplan" required style="width:100%;height:35px;">
                                            <option value="Select One">Select One</option>
                                            <option v-for="mealplan in mealplans" v-bind:value="mealplan.mealplan_id">
                                                {{ mealplan.mealplan_name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Associated With</label>
                                        <input type="text" v-model="mealplanitem.mealplanitem_associatedwith" class="form-control" placeholder="Associated With">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Quantity</label>
                                        <input type="text" v-model="mealplanitem.mealplanitem_quantity" class="form-control" placeholder="Quantity">
                                    </div>
                                </div>   
                                <div class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-success">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
</template>
<script>
export default {
    data: function () {
            return {
                selected: 'Select One',
                selected1: 'Select One',
                recipes:[],
                mealplans:[],
                mealplanitem: {
                    mealplanitem_name: '',
                    //recipe_id: '',
                    //mealplan_id: '',
                    mealplanitem_associatedwith:'',
                    mealplanitem_quantity:''
                }
            }
        },
        created() {
            let uri = `http://localhost:8000/api/mealplanitem/getmealplanindex/`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.mealplans = response.data.mealplan, this.recipes = response.data.recipe})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        methods:{
            saveForm(){
                var app = this;
                var mealplanitem = this.mealplanitem;
                
                var recipe = document.getElementById('recipe');
                var recipeValue = recipe.options[recipe.selectedIndex].value
                
                var mealplan = document.getElementById('mealplan'); 
                var mealplanValue = mealplan.options[mealplan.selectedIndex].value

                //mealplanitem.push("recipe_id",recipeValue);
                //mealplanitem.push("mealplan_id",mealplanValue);
                
                /*const resultsArray = Object.keys(mealplanitem).map(
                    function(key){
                        return [String(key),mealplanitem[key]];
                    }
                )
                
                resultsArray.push(["recipe_id",recipeValue]);
                resultsArray.push(["mealplan_id",mealplanValue]);

                let mergedArray = [];

                resultsArray.forEach(o => {
                    mergedArray.push(o)
                })*/
                this.mealplanitem.recipe_id = recipeValue,
                this.mealplanitem.mealplan_id = mealplanValue,

                console.log(mealplanitem);

                axios.post('http://localhost:8000/api/mealplanitem/addmealplanitem', mealplanitem)
                .then(function (resp) {
                    app.$router.push({path: '/getMealPlanItem'});
                    toast({
                        type:'success',
                        title:'Meal Plan Item Added!',                
                    });
                })
                .catch(function (resp) {
                    console.log(resp);
                    toast({
                        type:'error',
                        title:'Something Went Wrong!',                
                    });
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }
}
</script>