<template>
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!--Display Not found if user is not authorized-->
                    <div class="card" v-if="!$gate.isAdminOrNutritionist()">
                        <not-found></not-found>
                    </div>
                    <div class="card" v-if="$gate.isAdminOrNutritionist()">
                        <div class="card-header">
                            <div class="float-left">
                                <h3>Add Plan Item</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'GetMealPlanItem'}" class="btn btn-xs btn-default">Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="saveForm()">
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>Item Name</label>
                                        <input type="text" v-model="mealplanitem.mealplanitem_name" class="form-control" placeholder="Item Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>Recipe Name</label>
                                        <select v-model="selected" id="recipe" required style="width:100%;height:35px;">
                                            <option value="Select One">Select One</option>
                                            <option v-for="recipe in recipes" v-bind:value="recipe.recipe_id">
                                                {{ recipe.recipe_name }}
                                            </option>
                                        </select>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Meal Plan</label>
                                        <select v-model="selected1" id="mealplan" required style="width:100%;height:35px;">
                                            <option value="Select One">Select One</option>
                                            <option v-for="mealplan in mealplans" v-bind:value="mealplan.mealplan_id">
                                                {{ mealplan.mealplan_name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Associated With</label>
                                        <input type="text" v-model="mealplanitem.mealplanitem_associatedwith" class="form-control" placeholder="Associated With">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Quantity</label>
                                        <input type="text" v-model="mealplanitem.mealplanitem_quantity" class="form-control" placeholder="Quantity">
                                    </div>
                                </div>   
                                <div class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-success">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
</template>
<script>
export default {
   data: function () {
            return {
                mealplanitem: {                    
                },
                recipes:[],
                mealplans:[],
                selected:'',
                selected1:''
            }
        },
        created() {
            
            let uri = `http://localhost:8000/api/mealplanitem/editplanitem/${this.$route.params.id}`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.mealplanitem = response.data})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 

            let uri1 = `http://localhost:8000/api/mealplanitem/getmealplanindex/`;
            axios.get(uri1)
            //.then(response=>console.log(response.data))
            .then(response => {this.mealplans = response.data.mealplan, this.recipes = response.data.recipe})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        methods:{
            saveForm(){
                var app = this;
                var mealplanitem = this.mealplanitem;
                
                var recipe = document.getElementById('recipe');
                var recipeValue = recipe.options[recipe.selectedIndex].value
                
                var mealplan = document.getElementById('mealplan'); 
                var mealplanValue = mealplan.options[mealplan.selectedIndex].value

                this.mealplanitem.recipe_id = recipeValue,
                this.mealplanitem.mealplan_id = mealplanValue;
                

                let uri = `http://localhost:8000/api/mealplanitem/updateplanitem/${this.$route.params.id}`;
                axios.put(uri,this.mealplanitem)
                .then(function (resp) {
                    app.$router.push({path: '/getMealPlanItem'});
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not update meal");
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }
}
</script>