<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!--Display Not found if user is not authorized-->
                    <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                        <not-found></not-found>
                    </div>
                    <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                        <div class="card-header">
                            <div class="float-left">
                                <h3 class="card-title">Edit Plan</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'GetMealPlan'}" class="btn btn-xs btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="saveForm()">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Meal Name</label>
                                            <input type="text" v-model="mealplan.mealplan_name" class="form-control" placeholder="Meal Name">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            
                                            <label>Meal Energy</label>
                                            <input type="text" v-model="mealplan.mealplan_energy" class="form-control" placeholder="Meal Energy">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="form-group">
                                            <label>Meal Description</label> 
                                            <input type="text" v-model="mealplan.mealplan_description" class="form-control" placeholder="Meal Description">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <div class="text-center"> 
                                                <button class="btn btn-success mt-4"><i class="fas fa-arrow-right"></i> Edit Meal Plan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</template>
<script>
    export default {        
        data: function () {
            return {
                mealplan: {                    
                }
            }
        },
        created() {
            
            let uri = `http://localhost:8000/api/mealplan/getMeal/${this.$route.params.id}`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.mealplan = response.data})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        methods:{
            saveForm(){
                var app = this;
                let uri = `http://localhost:8000/api/mealplan/update/${this.$route.params.id}`;
                axios.put(uri,this.mealplan)
                .then(function (resp) {
                    app.$router.push({path: '/getMealPlan'});
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not update food item");
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }     
    }
</script>
