<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--Display Not found if user is not authorized-->
                <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                    <not-found></not-found>
                </div>
                <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-title">Meal Plan List</h3>
                        </div>
                        <div class="float-right">
                            <router-link :to="{name: 'AddMealPlan'}" class="btn btn-xs btn-primary ">Add Meal</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <p class="mb-0" v-if="mealplans.length === 0">
                                You do not have any meal plans
                            </p>              
                            <table class="table" v-if="mealplans.length > 0">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Name</td>
                                        <td>Description</td>
                                        <td>Energy</td>
                                        <td width="15%">Actions</td>
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr v-for="mealplan, index in mealplans">
                                        <td>{{ mealplan.mealplan_id }}</td>
                                        <td>{{ mealplan.mealplan_name }}</td>
                                        <td>{{ mealplan.mealplan_description }}</td>
                                        <td>{{ mealplan.mealplan_energy }}</td>
                                        <td width="15%">
                                            <router-link :to="{name: 'EditMealPlan', params: {id: mealplan.mealplan_id}}" class="btn btn-xs btn-success">
                                                <i class="fas fa-edit"></i>
                                            </router-link>
                                            <a href="#" class="btn btn-xs btn-danger" v-on:click="deleteEntry(mealplan.mealplan_id, index)"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        data: function(){
            return{
                mealplans:[]
            }
            
        },
        mounted() {
            console.log('Component mounted.'),
            axios.get('./api/mealplan/getMealPlanList')
            //.then(/*response=>console.log(response.data)
            .then(response => this.mealplans = response.data)
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },                
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('./api/mealplan/destroy/' + id)
                    .then(function (resp) {
                        app.mealplans.splice(index, 1);
                        toast({
                            type:'success',
                            title:'Meal Plan Deleted!',                
                        });
                    })
                    .catch(function (resp) {
                        alert("Could not delete meal plan ");
                    });
                }
            }
        }
    }
</script>
    