<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--Display Not found if user is not authorized-->
                <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                    <not-found></not-found>
                </div>
                <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                    <div class="card-header">
                        <h3 class="card-title">Meal Plan Item</h3>
                    </div>
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <div class="row">
                            <div class="col-8">
                                <select v-model="selected" id="mealplan" required style="width:100%;height:35px;">
                                    <option value="Select One">Select One</option>
                                    <option v-for="mealplan in mealplans" v-bind:value="mealplan.mealplan_id">
                                        {{ mealplan.mealplan_name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary" v-on:click="submit()"><i class="fas fa-arrow-right"></i> Submit</button>
                            </div>
                            <div class="col-2">
                                <router-link :to="{name: 'AddMealPlanItem'}" class="btn btn-xs btn-success"><i class="fas fa-plus-circle"></i> Add New Item</router-link>
                            </div>
                        </div>
                        </div>
                        <div class="mt-2 mb-2">                                      
                            <table class="table" v-if="mealplanitems.length > 0">            
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Name</td>
                                        <td>Recipe</td>
                                        <td>MealPlan</td>
                                        <td>Associated With</td>
                                        <td>Quantity</td>                                   
                                        <td width="15%">Actions</td>
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr v-for="mealplanitem, index in mealplanitems">
                                        <td>{{ mealplanitem.mealplanitem_id }}</td>
                                        <td>{{ mealplanitem.mealplanitem_name }}</td>
                                        <td>{{ mealplanitem.recipe[0].recipe_name }}</td>
                                        <td>{{ mealplanitem.mealplan[0].mealplan_name }}</td>
                                        <td>{{ mealplanitem.mealplanitem_associatedwith }}</td>
                                        <td>{{ mealplanitem.mealplanitem_quantity }}</td>                  
                                        <td width="15%">
                                            <router-link :to="{name: 'EditMealPlanItem', params: {id: mealplanitem.mealplanitem_id}}" class="btn btn-xs btn-success">
                                                <i class="fas fa-edit"></i>
                                            </router-link>
                                            <!--<a href ="editFoodItem/13" class="btn btn-xs btn-default">Edit</a>-->
                                            <a href="#" class="btn btn-xs btn-danger" v-on:click="deleteEntry(mealplanitem.mealplanitem_id, index)"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        data(){
            return{
                selected: 'Select One',
                mealplans:[],
                mealplanitems:''                
                
            }
        },
        mounted() {
            console.log('Component mounted.'),
            axios.get('./api/mealplan/getMealPlanList')
            .then(response => this.mealplans = response.data)
            //.then(response=>console.log(response.data))
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        methods:{
            submit(){            
                var selected = document.getElementById('mealplan');
                var selectedValue = selected.options[selected.selectedIndex].value
                console.log(selectedValue);

                axios.get(`./api/mealplanitem/getplanitem/${selectedValue}`)
                .then(response => {this.mealplanitems = response.data})
                //.then(response=>console.log(response.data))
                .catch(error=>console.log(error))
                .finally(()=> console.log('Data loading complete')); 
            },
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('./api/mealplanitem/destroy/' + id)
                    .then(function (resp) {
                        app.mealplanitems.splice(index, 1);    
                        toast({
                            type:'success',
                            title:'Meal Plan Item Deleted!',                
                        });                        
                    })
                    .catch(function (resp) {
                        alert("Could not delete meal plan ");
                    });
                }
            }
        }                
    }
</script>
    