<template>
    <div>        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card card-cs">
                        <div class="card-header">
                            <div class="float-left">
                                <h3 class="card-title">Add Rda</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'GetUserRda'}" class="btn btn-xs btn-secondary "><i class="fas fa-arrow-left"></i> Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="saveForm()">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label>Weight</label>
                                            <input type="text" v-model="rda.rda_weight" class="form-control" placeholder="Rda Weight">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">    
                                            <label>Choose your lifestyle</label>
                                            <select v-model="lifestyle" id="lifestyle" required style="width:100%;height:35px;">
                                                <option disabled value="">Please select one</option>
                                                <option value="sedantary">Sedantary</option>
                                                <option value="light">Light Active</option>
                                                <option value="moderate">Moderate Active</option>
                                                <option value="heavy">Heavily Active</option>
                                                <option value="veryheavy">Very Heavily Active</option>
                                            </select>    
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="form-group">
                                            <div class="text-center"> 
                                                <button class="btn btn-success mt-4"><i class="fas fa-arrow-right"></i> Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                                                                
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/af.js"></script>
<script>
    export default {
        data: function () {
            return {
                rda: {
                    rda_weight: '',
                    rda_bmi: '',
                    rda_energy: '',
                    rda_protein:'',
                    rda_carbohydrates:'',
                    rda_fats:''
                },
                profile:{
                    height:'',
                    gender:'',
                    dob:'',
                    age:''
                },
                lifestyle:''
            }
        },
        mounted(){
            var uri = `http://localhost:8000/api/rda/getprofile`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => this.profile = response.data)
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        methods:{
            saveForm(){
                var app = this;
                var rda = this.rda;
                var weight = rda.rda_weight;

                //Get Lifestyle
                var selected = document.getElementById('lifestyle');
                var selectedValue = selected.options[selected.selectedIndex].value
                
                //Get Age
                var dob = this.profile.dob;
                dob = moment(dob, 'DD-MM-YYYY').format('DD-MM-YYYY');
                var today = moment().format('DD-MM-YYYY');
                var age = moment.utc(moment(dob, 'DD-MM-YYYY').diff(moment(today, 'DD-MM-YYYY'), 'days'));

                age = (age._i/-365).toFixed(0);
                
                //Height
                var height = this.profile.height;
                var heightsquare = height*height;
                
                //Calculate BMI
                function bmi(weight,height){
                    var bmi = weight / heightsquare;   
                    bmi = bmi * 10000; 
                    return bmi;
                }
                bmi = bmi(weight,heightsquare);                
            
                //Calculate BMR
                var bmr;
                var gender;

                if(this.profile.gender == "Male"){
                    bmr = 66 + (13.7 * weight) + (5 * height) - (6.8 * age);
                }
                else{
                    bmr = 655 + (9.6 * weight) + (1.8 * height) - (4.7 * age);
                }                                                            
                

                //Calculate Ideal Body Weight
                var ibw = height - 100;
                var energy, protein, carbohydrate, fat;

                if(selectedValue == "sedantary"){
                    energy = bmr * 1.2;
                    protein = ibw;
                    carbohydrate = (energy * 0.6) / 4;
                    fat = (energy * 0.15) / 9;                    
                }
                else if(selectedValue == "light"){
                    energy = bmr * 1.375;
                    protein = ibw;
                    carbohydrate = (energy * 0.6) / 4;
                    fat = (energy * 0.15) / 9;                    
                }
                else if(selectedValue == "moderate"){
                    energy = bmr * 1.55;
                    protein = ibw;
                    carbohydrate = (energy * 0.6) / 4;
                    fat = (energy * 0.15) / 9;                    
                }
                else if(selectedValue == "heavy"){
                    energy = bmr * 1.725;
                    protein = ibw;
                    carbohydrate = (energy * 0.6) / 4;
                    fat = (energy * 0.15) / 9;
                }
                else{
                    energy = bmr * 1.9;
                    protein = ibw;
                    carbohydrate = (energy * 0.6) / 4;
                    fat = (energy * 0.15) / 9;                    
                }                

                //push into rda object
                rda.rda_weight = weight;
                rda.rda_bmi = bmi.toFixed(2);
                rda.rda_energy = energy.toFixed(2);
                rda.rda_protein = protein.toFixed(2);
                rda.rda_carbohydrates = carbohydrate.toFixed(2);
                rda.rda_fats = fat.toFixed(2);

                
                let uri = `http://localhost:8000/api/rda/addRda`;
                axios.post(uri, rda)
                .then(function (resp) {
                    app.$router.push({path: '/getuserrda'});
                    toast({
                        type:'success',
                        title:'Rda Added!',                
                    });
                })
                .catch(function (resp) {
                    console.log(resp);
                    toast({
                        type:'error',
                        title:'Something Went Wrong!',                
                    });
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }        
    }
</script>
