<template>
    <div>
        <p class="mt-2 ml-3">
            We highly recommend you to <router-link to="/AddUserRda">Add New Rda</router-link> for new suggestions.
        </p>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card card-cs">
                        <div class="card-header">
                            <div class="float-left">
                                <h3 class="card-title">Edit Rda</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'GetUserRda'}" class="btn btn-xs btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="saveForm()">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">                                            
                                            <label>Rda Weight</label>
                                            <input type="text" v-model="rda.rda_weight" class="form-control" placeholder="Rda Weight">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Rda BMI</label> 
                                            <input type="text" v-model="rda.rda_bmi" class="form-control" placeholder="Rda BMI">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Rda Energy</label>
                                            <input type="text" v-model="rda.rda_energy" class="form-control" placeholder="Rda Energy">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Rda Protein</label>
                                            <input type="text" v-model="rda.rda_protein" class="form-control" placeholder="Rda Protein">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Rda Carbohydrates</label>
                                            <input type="text" v-model="rda.rda_carbohydrates" class="form-control" placeholder="Rda Carbohydrates">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Rda Fats</label>
                                            <input type="text" v-model="rda.rda_fats" class="form-control" placeholder="Rda Fats">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-success"><i class="fas fa-arrow-right"></i> Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</template>
<script>
    export default {        
        data: function () {
            return {
                rda: {                    
                }
            }
        },
        created() {
            
            let uri = `http://localhost:8000/api/rda/getSingleRda/${this.$route.params.id}`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.rda = response.data})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        methods:{
            saveForm(){
                var app = this;
                let uri = `http://localhost:8000/api/rda/update/${this.$route.params.id}`;
                axios.put(uri,this.rda)
                .then(function (resp) {
                    app.$router.push({path: '/UserRdaList'});
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not update rda");
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
            }
        }     
    }
</script>
