<template>
    <div class="container">
        <div class="card card-cs">
            <div class="card-header">
                <div class="float-left">
                    <h3 class="card-title">Rda</h3>
                </div>
                <div class="float-right">
                    <router-link :to="{name: 'Dashboard'}" class="btn btn-xs btn-primary"><i class="fas fa-arrow-left"></i> Back</router-link>
                    <router-link :to="{name: 'AddUserRda'}" class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Add Rda</router-link>
                </div>
            </div>
            <div class="card-body">  
                <p class="mb-0" v-if="rda.length === 0">
                    You do not have any Rda for this user
                </p>              
                <table class="table" v-if="rda.length > 0">
                    <thead>
                        <tr>
                            
                            <td>Weight</td>
                            <td>BMI</td>
                            <td>Energy</td>
                            <td>Protien</td>
                            <td>Carbohydrate</td>
                            <td>Fat</td>
                            <td>Created At</td>
                            <td>Actions</td>
                        </tr>                                    
                    </thead>
                    <tbody>
                        <tr v-for="rda in rda">
                            
                            <td>{{ rda.rda_weight }} (Kg)</td>
                            <td>{{ rda.rda_bmi }} (Kg/m<sup>2</sup>)</td>
                            <td>{{ rda.rda_energy }} (KCal)</td>
                            <td>{{ rda.rda_protein }} (Gm)</td>
                            <td>{{ rda.rda_carbohydrates }} (Gm)</td>
                            <td>{{ rda.rda_fats }} (Gm)</td>
                            <td>{{ rda.rda_created }}</td>
                            <td>
                                <router-link :to="{name: 'EditUserRda', params: {id: rda.rda_id}}" class="btn btn-xs btn-success">
                                    <i class="fas fa-edit"></i>
                                </router-link>
                                
                                <a href="#" class="btn btn-xs btn-danger" v-on:click="deleteEntry(rda.rda_id)"><i class="fas fa-trash-alt"></i></a>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    data(){
            return{
                rda:[                         
                ],                
            }            
        },        
        mounted() {
            
            let uri = `http://localhost:8000/api/rda/getRda/`;
            axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.rda = response.data.rda})
            /*.then(function(){
                if(response.data.rda == ''){
                    console.log("null");
                }
                else{
                    response => {this.rda = response.data.rda}
                }
            })*/
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
            
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;                    
                    axios.delete('http://localhost:8000/api/rda/destroy/' + id)
                    .then(function (resp) {
                        app.rda.splice(index, 1);
                        toast({
                            type:'success',
                            title:'Rda Deleted!',                
                        });                          
                    })
                    .catch(function (resp) {
                        alert("Could not Delete Rda " + id);
                    });
                }
            }
        }
}
</script>