<template>
    <div class="container">
        <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users</h3>

                        <div class="card-tools">
                            <router-link :to="{name: 'Dashboard'}" class="btn btn-xs btn-primary">Back</router-link>                            
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in users.data" :key="user.id">
                                    <td>{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <router-link :to="{name: 'GetUserRda', params:{id:user.id}}" class="btn btn-xs btn-primary">Get Rda</router-link>                                                                
                                </tr>
                            </tbody>                            
                        </table>
                    </div>
                </div>
                <div v-if="!$gate.isAdminOrAuthor()">
                    <not-found></not-found>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            editmode: false,
                users : {},
                form: new Form({
                    id:'',
                    name : '',
                    email: ''                    
                })
        }
    },
    methods: {
            getResults(page = 1) {
                        axios.get('api/user?page=' + page)
                            .then(response => {
                                this.users = response.data;
                            });
                },
            
            
            loadUsers(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/user").then(({ data }) => (this.users = data));
                }
            },

            
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.$parent.search;
                axios.get('api/findUser?q=' + query)
                .then((data) => {
                    this.users = data.data
                })
                .catch(() => {

                })
            })
           this.loadUsers();
           Fire.$on('AfterCreate',() => {
               this.loadUsers();
           });
        //    setInterval(() => this.loadUsers(), 3000);
        }
}
</script>