<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <!--Display Not found if user is not authorized-->
                    <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                        <not-found></not-found>
                    </div>
                    <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                        <div class="card-header">
                            <div class="float-left">
                                <h3 class="card-title">Add Food Item</h3>
                            </div>
                            <div class="float-right">
                                <router-link :to="{name: 'GetFoodItem'}" class="btn btn-xs btn-primary "><i class="fas fa-arrow-left"></i> Back to List</router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="container"><h5>Name</h5></div>
                                </div>
                                <div class="row">                                    
                                    <div class="col-6">                                        
                                        <div class="form-group">
                                            <input type="text" v-model="fooditem.item_name" class="form-control" placeholder="Food Item Name">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" required v-model="fooditem.item_colloquial" class="form-control" placeholder="Item Colloquial">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="container"><h5>Nutritional Values</h5></div>
                                </div>                                
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" required v-model="fooditem.item_pdcaas" class="form-control" placeholder="Item Pdcaas">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" required v-model="fooditem.item_protein" class="form-control" placeholder="Item Protein">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" required v-model="fooditem.item_deviation" class="form-control" placeholder="Item Deviation">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="container"><h5>Units</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-6">                                        
                                        <div class="form-group">
                                            
                                            <select v-model="unit" id="unit" required style="width:100%;height:35px;">
                                                <option disabled value="">Select a unit</option>
                                                <option value="gm">Gm</option>
                                                <option value="ml">Ml</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            
                                            <select v-model="category" id="category" required style="width:100%;height:35px;">
                                                <option disabled value="">Select a category</option>
                                                <option value="Cereals">Cereals</option>
                                                <option value="Pulses">Pulses</option>
                                                <option value="Nuts and Oilseeds">Nuts and Oilseeds</option>
                                                <option value="Milk and Milk Products">Milk and Milk Products</option>
                                                <option value="Eggs">Eggs</option>
                                                <option value="Poultry">Poultry</option>
                                                <option value="Red Meat">Red Meat</option>
                                                <option value="Marine Fish">Marine Fish</option>
                                                <option value="Marine Shell Fish">Marine Shell Fish</option>
                                                <option value="Marine Mollusks">Marine Mollusks</option>
                                                <option value="Fresh Water Fish">Fresh Water Fish</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>                                                                
                                <div class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-success " @click.prevent="saveForm()"><i class="fas fa-arrow-right"></i> Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                fooditem: {
                    item_name: '',
                    item_colloquial: '',
                    item_pdcaas: '',
                    item_protein: '',
                    item_deviation: '',
                    item_units: '',
                    //item_category: '',
                },
                category:'',
                unit:'',
            }
        },
        methods: {
            saveForm() {
                //event.preventDefault();
                var app = this;
                var fooditem = app.fooditem;

                //Get Category
                var category = document.getElementById('category');
                var categoryValue = category.options[category.selectedIndex].value

                fooditem.item_category = categoryValue;

                //Get Unit
                var unit = document.getElementById('unit');
                var unitValue = unit.options[unit.selectedIndex].value

                fooditem.item_units = unitValue;
                
                axios.post('./api/foodItem/insert', fooditem)
                .then(function (resp) {                    
                    app.$router.push({path: '/getFoodItem'});
                    toast({
                        type:'success',
                        title:'Food Item Added!',                
                    });    
                })
                .catch(function (resp) {
                    console.log(resp);
                    toast({
                        type:'error',
                        title:'Something Went Wrong!',                
                    });
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });

                
            }
        }
    }
</script>
