<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--Display Not found if user is not authorized-->
                <div class="card" v-if="!$gate.isAdminOrNutritionist()">
                    <not-found></not-found>
                </div>
                <div class="card" v-if="$gate.isAdminOrNutritionist()">
                    <div class="card-header">
                        <h3 class="card-title">All Food Items</h3>
                    </div>
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Colloquial</th>
                                        <th scope="col">Pdcaas</th>
                                        <th scope="col">Protein</th>
                                        <th scope="col">Deviation</th>
                                        <th scope="col">Units</th>
                                        <th scope="col">Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Milk</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>20</td>
                                        <td>0</td>
                                        <td>ml</td>
                                        <td>Milk</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Chaas</td>
                                        <td>0</td>
                                        <td>4</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>ml</td>
                                        <td>Milk</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Egg</td>
                                        <td>0</td>
                                        <td>6</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>gm</td>
                                        <td>Poultry</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Egg</td>
                                        <td>0</td>
                                        <td>6</td>
                                        <td>5</td>
                                        <td>0</td>
                                        <td>gm</td>
                                        <td>Poultry</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Quinoa</td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>13</td>
                                        <td>0</td>
                                        <td>gm</td>
                                        <td>Cereals</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Rice, parboiled, milled (Oryza sativa)</td>
                                        <td>Ubala Chawal</td>
                                        <td>1</td>
                                        <td>8</td>
                                        <td>1</td>
                                        <td>[{"label":"gms","value":1},{"label":"1 bowl (150 gms)","value":150},{"label":"1 bowl (200 gms)","value":200},{"label":"1 cup (75 gms)","value":75}]</td>
                                        <td>Cereals</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        mounted() {
            console.log('Component mounted.'),
            axios.get('./api/foodItem/getAll')
            .then(response=>console.log(response.data)/*response => this.items = response.data*/)
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete'));            
            //axios.get('/oauth/clients')
            //.then(response => {
            //    console.log(response.data);
            //});
        },        
        
    }
</script>
    