<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--Display Not found if user is not authorized-->
                <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                    <not-found></not-found>
                </div>
                <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-title">Get Food Item List</h3>
                        </div>
                        <div class="float-right">
                            <router-link :to="{name: 'AddFoodItem'}" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i> Add Item</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <p class="mb-0" v-if="fooditems.length === 0">
                                No Food Items Found. Add Some
                            </p>              
                            <table class="table table-responsive" v-if="fooditems.length > 0">                            
                                <thead>
                                    <tr>
                                        
                                        <td>Name</td>
                                        <td>Colloquial</td>
                                        <td>Deviation</td>
                                        <td>Units</td>
                                        <td>Pdcaas</td>
                                        <td>Category</td>
                                        <td>Protein/100gm</td>
                                        <td width="15%">Actions</td>
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr v-for="fooditem, index in fooditems">
                                        
                                        <td>{{ fooditem.item_name }}</td>
                                        <td>{{ fooditem.item_colloquial }}</td>
                                        <td>{{ fooditem.item_deviation }}</td>
                                        <td>{{ fooditem.item_units }}</td>
                                        <td>{{ fooditem.item_pdcaas }}</td>
                                        <td>{{ fooditem.item_category }}</td>
                                        <td>{{ fooditem.item_protein }}</td>
                                        <td width="15%">
                                            <router-link :to="{name: 'EditFoodItem', params: {id: fooditem.item_id}}" class="btn btn-xs btn-success">
                                                <i class="fas fa-edit"></i>
                                            </router-link> 
                                            <!--<a href ="editFoodItem/13" class="btn btn-xs btn-default">Edit</a>-->
                                            <a href="#" class="btn btn-xs btn-danger" v-on:click="deleteEntry(fooditem.item_id, index)"><i class="fas fa-trash-alt"></i></a>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>    
    export default {
        data(){
            return{
                fooditems:[]
            }
        },
        mounted() {            
            console.log('Component mounted.'),
            axios.get('./api/foodItem/getAll')
            .then(/*response=>console.log(response.data)*/response => {this.fooditems = response.data})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        },
        /*created() {
            Fire.$on('searching',() => {
                let query = this.$parent.search;
                axios.get('api/findItem?q=' + query)
                .then((data) => {
                    this.fooditems = data.data
                })
                .catch(() => {

                })
            })
        },*/
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('./api/foodItem/destroy/' + id)
                    .then(function (resp) {
                        app.fooditems.splice(index, 1);
                        toast({
                            type:'success',
                            title:'Food Item Deleted!',                
                        });
                    })
                    .catch(function (resp) {
                        alert("Could not delete food item " + id);
                    });
                }
            }
        }
    }    
</script>