<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--Display Not found if user is not authorized-->
                <div class="card card-cs" v-if="!$gate.isAdminOrNutritionist()">
                    <not-found></not-found>
                </div>
                <div class="card card-cs" v-if="$gate.isAdminOrNutritionist()">
                    <div class="card-header">
                        <div class="float-left">
                            <h3 class="card-title">Food Item Categories</h3>
                        </div>
                        <div class="float-right">
                            <router-link :to="{name: 'GetFoodItem'}" class="btn btn-xs btn-primary "><i class="fas fa-undo"></i> Back to List</router-link>
                        </div>
                    </div>
                    <div class="card-body">    
                        <div class="row">
                            <div class="col-10">
                                <select v-model="selected" id="category" required style="width:100%;height:35px;">
                                    <option value="Select One">Select One</option>
                                    <option v-for="item in items" v-bind:value="item.type">
                                        {{ item.type }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary"  v-on:click="submit()"><i class="fas fa-arrow-right"></i> Submit</button>
                            </div>
                        </div>
                        <div class="mt-2 mb-2">                                      
                            <table class="table" v-if="fooditems.length > 0">                
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Name</td>
                                        <td>Colloquial</td>
                                        <td>Deviation</td>
                                        <td>Units</td>
                                        <td>Pdcaas</td>
                                        <td>Category</td>
                                        <td>Protein</td>
                                        <td width="15%">Actions</td>
                                    </tr>                                    
                                </thead>
                                <tbody>
                                    <tr v-for="fooditem, index in fooditems">
                                        <td>{{ fooditem.item_id }}</td>
                                        <td>{{ fooditem.item_name }}</td>
                                        <td>{{ fooditem.item_colloquial }}</td>
                                        <td>{{ fooditem.item_deviation }}</td>
                                        <td>{{ fooditem.item_units }}</td>
                                        <td>{{ fooditem.item_pdcaas }}</td>
                                        <td>{{ fooditem.item_category }}</td>
                                        <td>{{ fooditem.item_protein }}%</td>
                                        <td width="15%">
                                            <router-link :to="{name: 'EditFoodItem', params: {id: fooditem.item_id}}" class="btn btn-xs btn-success">
                                                <i class="fas fa-edit"></i>
                                            </router-link>
                                            <!--<a href ="editFoodItem/13" class="btn btn-xs btn-default">Edit</a>-->
                                            <a href="#" class="btn btn-xs btn-danger" v-on:click="deleteEntry(fooditem.item_id, index)"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
let resultsArr;
export default {
    
    data(){
        return{
            selected: 'Select One',
            items: [            
            ],
            fooditems:[

            ]
        }   
    },
    mounted(){
        console.log('Component mounted.'),
            axios.get('./api/foodItem/getByCategory')
            .then(response => {this.items = response.data})
            //.then(response=>console.log(response.data))
             .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
            
            
    },
    methods:{
        submit(){            
            var selected = document.getElementById('category');
            var selectedValue = selected.options[selected.selectedIndex].value
            console.log(selectedValue);
            
             axios.get(`./api/foodItem/getItemByCategory/${selectedValue}`)
            .then(response => {this.fooditems = response.data})
            //.then(response=>console.log(response.data))
             .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete')); 
        }
    }
}
</script>
