<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <!--Display Not found if user is not authorized-->
                <div class="card" v-if="!$gate.isAdminOrNutritionist()">
                    <not-found></not-found>
                </div>
                <div class="card" v-if="$gate.isAdminOrNutritionist()">
                    <div class="card-header">
                        <h3 class="card-title">Insert Food Item</h3>
                    </div>
                    <div class="card-body">
                        <div class="mt-2 mb-2">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="itemName" class="control-label">Item Name</label>                                    
                                        </div>
                                        <div class="col-9">
                                    <input type="" v-model="form.itemname" class="form-control" id="itemName" placeholder="Item Name" :class="{ 'is-invalid': form.errors.has('name') }">
                                     <has-error :form="form" field="name"></has-error>
                                     </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="itemColloquial" class="control-label">Item Colloquial</label>       
                                        </div>
                                        <div class="col-9"                             >
                                    <input type="" v-model="form.itemcolloquial" class="form-control" id="itemName" placeholder="Item Colloquial" :class="{ 'is-invalid': form.errors.has('name') }">
                                    </div>
                                     <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="itemPdcaas" class="control-label">Item PDCAAS</label>                                    
                                        </div>
                                        <div class="col-9">
                                    <input type="" v-model="form.itempdcaas" class="form-control" id="itemPdcaas" placeholder="Item Pdcaas" :class="{ 'is-invalid': form.errors.has('name') }">
                                     <has-error :form="form" field="name"></has-error>
                                     </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="itemProtein" class="control-label">Item Protein</label>                                    
                                        </div>
                                        <div class="col-9">
                                    <input type="" v-model="form.itemprotein" class="form-control" id="itemProtein" placeholder="Item Protein" :class="{ 'is-invalid': form.errors.has('name') }">
                                     <has-error :form="form" field="name"></has-error>
                                     </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="itemDeviation" class="control-label">Item Deviation</label>        
                                        </div>
                                        <div class="col-9"                            >
                                    <input type="" v-model="form.itemdeviation" class="form-control" id="itemDeviation" placeholder="Item Deviation" :class="{ 'is-invalid': form.errors.has('name') }">
                                    </div>
                                     <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="itemPdcaas" class="control-label">Item Units</label>                                    
                                        </div>
                                        <div class="col-9">
                                    <input type="" v-model="form.itemunit" class="form-control" id="itemUnit" placeholder="Item Unit" :class="{ 'is-invalid': form.errors.has('name') }">
                                     <has-error :form="form" field="name"></has-error>
                                     </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-3">
                                            <label for="itemCategory" class="control-label">Item Category</label>
                                        </div>
                                        <div class="col-9"                           >
                                    <input type="" v-model="form.itemcategory" class="form-control" id="itemCategory" placeholder="Item Category" :class="{ 'is-invalid': form.errors.has('name') }">
                                    </div>
                                     <has-error :form="form" field="name"></has-error>
                                    </div>
                                    <button @click.prevent="insertItem" type="submit" class="btn btn-success mt-3">Submit</button>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>    
    export default {
        mounted() {
            console.log('Component mounted.')
        },        
        data: function(){
            return{
                form:new Form({
                    itemname:'',
                    itemcolloquial:'',
                    itempdcaas:'',
                    itemdeviation:'',
                    itemprotein:'',
                    itemunit:'',
                    itemcategory:''
                })
            }            
        }
    }
</script>
    