<template>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="float-left">
                                <h3>Profile</h3>
                            </div>
                            <div class="float-right">
                                <!--<router-link :to="{name: 'AllRecipe'}" class="btn btn-xs btn-default">Back to List</router-link>-->
                            </div>
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="saveForm()">
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>DOB</label>
                                        <input type="text" v-model="profile.dob" class="form-control" placeholder="Date Of Birth">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Height</label>
                                        <input type="text" v-model="profile.height" class="form-control" placeholder="Height (cm)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Weight</label>
                                        <input type="text" v-model="profile.weight" class="form-control" placeholder="Weight (Kg)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto"> 
                                        <label>Gender</label><br/>
                                        <input type="radio" id="male" value="Male" v-model="profile.gender">
                                        <label for="male">Male</label>
                                        <input type="radio" id="female" value="Female" v-model="profile.gender">
                                        <label for="female">Female</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10 mx-auto">
                                        <label>Meal Preference</label>
                                        <select v-model="selected" id="mealpreference" required style="width:100%;height:35px;">
                                            <option value="Select One">Select One</option>
                                            <option v-for="mealpreference in mealpreferences" v-bind:value="mealpreference.mealpreference_id">
                                                {{ mealpreference.mealpreference_name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="text-center"> 
                                        <button class="btn btn-success" @click.prevent="saveForm()">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data: function () {
            return {
                mealpreferences:[],
                profile: {                    
                },                
                selected:''
            }
        },
    created(){        
        var uri = `http://localhost:8000/api/profile/getprofile`;
        axios.get(uri)
            //.then(response=>console.log(response.data))
            .then(response => {this.mealpreferences = response.data.mealpreference,this.profile = response.data.profile})
            .catch(error=>console.log(error))
            .finally(()=> console.log('Data loading complete'));             
    },
    methods:{
        saveForm(){
            var app = this;
            var profile = this.profile;

            var mealpreference = document.getElementById('mealpreference');
            var mealpreferenceValue = mealpreference.options[mealpreference.selectedIndex].value

            this.profile.mealpreference_id = mealpreferenceValue,

            console.log(profile);
            let uri = `http://localhost:8000/api/profile/updateprofile`;
            axios.post(uri,profile)
            .then(function (resp) {
                    alert("Profile Updated");
                    app.$router.push({path: '/dashboard'});
                    toast({
                        type:'success',
                        title:'Profile Added!',                
                    });
                })
                .catch(function (resp) {
                    console.log(resp);
                    toast({
                        type:'error',
                        title:'Something Went Wrong!',                
                    });
                })
                .finally(function (resp){
                    console.log("Axios Post Complete");
                });
        }
    }
}
</script>